<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" type="text/css">
</head>
<body>
<h2 style="text-align:center">User Managaement System</h2>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user: ${receiveuser}">
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td><a style="background: orange; padding:10px;" th:href="@{/updateuser/{id}(id =${user.id} )}">Update</a>
            <a style="background: black; text-decoration:none; color:white; padding:10px;"
               th:href="@{/deleteuser/{id}(id =${user.id} )}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>